<div class="min-h-screen flex items-center justify-center"
     style="background-image: url('/fondo.avif');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;">
  <div class="bg-white rounded-lg shadow-md w-full max-w-6xl grid md:grid-cols-12">

    <div class="md:col-span-12 px-10 pt-10" *ngIf="message">
      <div [ngClass]="isSuccess ? 'text-green-700 bg-green-100 border border-green-400' : 'text-red-700 bg-red-100 border border-red-400'"
           class="px-4 py-3 rounded relative mb-4">
        <strong class="font-bold">¡Atención!</strong>
        <span class="block sm:inline ml-2">{{ message }}</span>
      </div>
    </div>

    <div *ngIf="isLoading" class="md:col-span-12 text-center text-sky-600 font-bold mb-4">
      Cargando...
    </div>

    <div class="md:col-span-12 grid md:grid-cols-12">
        <div class="md:col-span-4 bg-gradient-to-br from-sky-500 to-blue-700 text-white rounded-l-lg p-10 flex flex-col justify-between animate-fade-in">
          <div>
            <h2 class="text-4xl font-extrabold mb-6 leading-tight">
              <span class="text-black">FORMULARIO DE </span>
              <span class="text-white ">REGISTRO</span>
            </h2>
            <p class="text-sm leading-relaxed tracking-wide">
              Gestiona los datos de tus clientes y sus vouchers.
            </p>
          </div>
          <p class="text-xs mt-10 italic text-white/90">
            Nos importa tu privacidad. Nunca compartiremos tu información.
          </p>
        </div>

        <form id="registroForm"
              (ngSubmit)="onSubmitClient()" #registrationForm="ngForm"
              class="md:col-span-8 p-10 rounded-lg border-2"
              style="border-color: #a7c4c4; ">

          <h3 class="text-2xl font-bold mb-6 text-gray-800">Registrar/Actualizar Cliente</h3>

          <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="nombres">
                Nombre/s
              </label>
              <input id="nombres" name="nombres"
                     [(ngModel)]="formData.nombres"
                     required pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñ\s]+$"
                     title="Solo letras y espacios permitidos"
                     class="transition-all duration-300 transform focus:scale-[1.02] focus:ring-2 focus:ring-sky-400 focus:outline-none appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-300 rounded py-3 px-4 leading-tight"
                     type="text" placeholder="Su nombre/s">
              <div *ngIf="registrationForm.controls['nombres']?.invalid && (registrationForm.controls['nombres']?.dirty || registrationForm.controls['nombres']?.touched)" class="text-red-500 text-xs italic mt-2">
                El nombre es obligatorio y solo debe contener letras y espacios.
              </div>
            </div>
            <div class="w-full md:w-1/2 px-3">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="apellidos">
                Apellido/s
              </label>
              <input id="apellidos" name="apellidos"
                     [(ngModel)]="formData.apellidos"
                     required pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñ\s]+$"
                     title="Solo letras y espacios permitidos"
                     class="transition-all duration-300 transform focus:scale-[1.02] focus:ring-2 focus:ring-sky-400 focus:outline-none appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-300 rounded py-3 px-4 leading-tight"
                     type="text" placeholder="Su apellido/s">
              <div *ngIf="registrationForm.controls['apellidos']?.invalid && (registrationForm.controls['apellidos']?.dirty || registrationForm.controls['apellidos']?.touched)" class="text-red-500 text-xs italic mt-2">
                El apellido es obligatorio y solo debe contener letras y espacios.
              </div>
            </div>
          </div>

          <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="numeroDocumento">
                Número de Identidad
              </label>
              <input id="numeroDocumento" name="numeroDocumento"
                     [(ngModel)]="formData.numeroDocumento"
                     required
                     class="transition-all duration-300 transform focus:scale-[1.02] focus:ring-2 focus:ring-sky-400 focus:outline-none appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-300 rounded py-3 px-4 leading-tight"
                     type="text" placeholder="XXXXXXXXXX" pattern="\d+"
                     title="Solo números">
              <div *ngIf="registrationForm.controls['numeroDocumento']?.invalid && (registrationForm.controls['numeroDocumento']?.dirty || registrationForm.controls['numeroDocumento']?.touched)" class="text-red-500 text-xs italic mt-2">
                El número de documento es obligatorio y solo debe contener números.
              </div>
            </div>
            <div class="w-full md:w-1/2 px-3">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="pasaporte">
                Pasaporte
              </label>
              <input id="pasaporte" name="pasaporte"
                     [(ngModel)]="formData.pasaporte"
                     class="transition-all duration-300 transform focus:scale-[1.02] focus:ring-2 focus:ring-sky-400 focus:outline-none appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-300 rounded py-3 px-4 leading-tight"
                     type="text" placeholder="Ej: G1234567" pattern="^[a-zA-Z0-9]*$"
                     title="Opcional. Solo letras y números.">
              <div *ngIf="registrationForm.controls['pasaporte']?.invalid && (registrationForm.controls['pasaporte']?.dirty || registrationForm.controls['pasaporte']?.touched)" class="text-red-500 text-xs italic mt-2">
                El pasaporte debe contener solo letras y números.
              </div>
            </div>
          </div>

          <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="telefono">
                Número Telefónico (Celular)
              </label>
              <input id="telefono" name="telefono"
                     [(ngModel)]="formData.telefono"
                     required
                     pattern="^\d{7,}$" title="Debe contener al menos 7 dígitos numéricos"
                     class="transition-all duration-300 transform focus:scale-[1.02] focus:ring-2 focus:ring-sky-400 focus:outline-none appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-300 rounded py-3 px-4 leading-tight"
                     type="tel" placeholder="3XXXXXXXXX">
              <div *ngIf="registrationForm.controls['telefono']?.invalid && (registrationForm.controls['telefono']?.dirty || registrationForm.controls['telefono']?.touched)" class="text-red-500 text-xs italic mt-2">
                El número telefónico es obligatorio y debe contener al menos 7 dígitos numéricos.
              </div>
            </div>
            <div class="w-full md:w-1/2 px-3">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="whatsapp">
                Whatsapp
              </label>
              <input id="whatsapp" name="whatsapp"
                     [(ngModel)]="formData.whatsapp"
                     required
                     pattern="^\d{7,}$" title="Debe contener al menos 7 dígitos numéricos"
                     class="transition-all duration-300 transform focus:scale-[1.02] focus:ring-2 focus:ring-sky-400 focus:outline-none appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-300 rounded py-3 px-4 leading-tight"
                     type="tel" placeholder="3XXXXXXXXX">
              <div *ngIf="registrationForm.controls['whatsapp']?.invalid && (registrationForm.controls['whatsapp']?.dirty || registrationForm.controls['whatsapp']?.touched)" class="text-red-500 text-xs italic mt-2">
                El número de Whatsapp es obligatorio y debe contener al menos 7 dígitos numéricos.
              </div>
            </div>
          </div>

          <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="usuarioTelegram">
                Usuario de Telegram (Ej: su_usuario)
              </label>
              <input id="usuarioTelegram" name="usuarioTelegram"
                     [(ngModel)]="formData.usuarioTelegram"
                     required
                     pattern="^@?\w+$"
                     title="No debe contener espacios y puede iniciar con @"
                     class="transition-all duration-300 transform focus:scale-[1.02] focus:ring-2 focus:ring-sky-400 focus:outline-none appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-300 rounded py-3 px-4 leading-tight"
                     type="text" placeholder="@usuario">
              <div *ngIf="registrationForm.controls['usuarioTelegram']?.invalid && (registrationForm.controls['usuarioTelegram']?.dirty || registrationForm.controls['usuarioTelegram']?.touched)" class="text-red-500 text-xs italic mt-2">
                El usuario de Telegram es obligatorio, no debe contener espacios y puede iniciar con "".
              </div>
            </div>
            <div class="w-full md:w-1/2 px-3">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="correo">
                Correo Electrónico
              </label>
              <input id="correo" name="correo"
                     [(ngModel)]="formData.correo"
                     required
                     pattern="^[a-zA-Z0-9._%+-]+@(gmail\.com|hotmail\.com)$"
                     title="Debe ser un correo válido de Gmail o Hotmail"
                     class="transition-all duration-300 transform focus:scale-[1.02] focus:ring-2 focus:ring-sky-400 focus:outline-none appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-300 rounded py-3 px-4 leading-tight"
                     type="email" placeholder="ejemplo@gmail.com">
              <div *ngIf="registrationForm.controls['correo']?.invalid && (registrationForm.controls['correo']?.dirty || registrationForm.controls['correo']?.touched)" class="text-red-500 text-xs italic mt-2">
                Debe ser un correo válido de Gmail o Hotmail.
              </div>
            </div>
          </div>

          <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="ciudad">
                Ciudad
              </label>
              <input id="ciudad" name="ciudad"
                     [(ngModel)]="formData.ciudad"
                     required
                     class="transition-all duration-300 transform focus:scale-[1.02] focus:ring-2 focus:ring-sky-400 focus:outline-none appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-300 rounded py-3 px-4 leading-tight"
                     type="text" placeholder="Neiva">
              <div *ngIf="registrationForm.controls['ciudad']?.invalid && (registrationForm.controls['ciudad']?.dirty || registrationForm.controls['ciudad']?.touched)" class="text-red-500 text-xs italic mt-2">
                La ciudad es obligatoria.
              </div>
            </div>
            <div class="w-full md:w-1/2 px-3">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="departamento">
                Departamento
              </label>
              <input id="departamento" name="departamento"
                     [(ngModel)]="formData.departamento"
                     required
                     class="transition-all duration-300 transform focus:scale-[1.02] focus:ring-2 focus:ring-sky-400 focus:outline-none appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-300 rounded py-3 px-4 leading-tight"
                     type="text" placeholder="Huila">
              <div *ngIf="registrationForm.controls['departamento']?.invalid && (registrationForm.controls['departamento']?.dirty || registrationForm.controls['departamento']?.touched)" class="text-red-500 text-xs italic mt-2">
                El departamento es obligatorio.
              </div>
            </div>
          </div>

          <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full px-3 mb-6 md:mb-0">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="pais">
                País
              </label>
              <input id="pais" name="pais"
                     [(ngModel)]="formData.pais"
                     required
                     class="transition-all duration-300 transform focus:scale-[1.02] focus:ring-2 focus:ring-sky-400 focus:outline-none appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-300 rounded py-3 px-4 leading-tight"
                     type="text" placeholder="Colombia">
              <div *ngIf="registrationForm.controls['pais']?.invalid && (registrationForm.controls['pais']?.dirty || registrationForm.controls['pais']?.touched)" class="text-red-500 text-xs italic mt-2">
                El país es obligatorio.
              </div>
            </div>
          </div>

          <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="password">
                Contraseña (Número de Documento)
              </label>
              <input id="password" name="password"
                     [(ngModel)]="formData.password"
                     required
                     pattern="^\d+$"
                     title="La contraseña debe contener solo números (será el número de documento) y debe coincidir con el número de identidad."
                     class="transition-all duration-300 transform focus:scale-[1.02] focus:ring-2 focus:ring-sky-400 focus:outline-none appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-300 rounded py-3 px-4 leading-tight"
                     type="password" placeholder="Número de Documento">
              <div *ngIf="registrationForm.controls['password']?.invalid && (registrationForm.controls['password']?.dirty || registrationForm.controls['password']?.touched)" class="text-red-500 text-xs italic mt-2">
                La contraseña debe contener solo números y coincidir con el número de documento.
              </div>
            </div>
            <div class="w-full md:w-1/2 px-3">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="rol">
                Rol
              </label>
              <select id="rol" name="rol"
                      [(ngModel)]="formData.rol"
                      required
                      class="appearance-none transition-all duration-300 transform focus:scale-[1.02] focus:ring-2 focus:ring-sky-400 focus:outline-none bg-gray-100 text-gray-700 border border-gray-300 rounded py-3 px-4 pr-10 leading-tight w-full">
                <option *ngFor="let rolOption of roles" [value]="rolOption">{{ rolOption | titlecase }}</option>
              </select>
              <div *ngIf="registrationForm.controls['rol']?.invalid && (registrationForm.controls['rol']?.dirty || registrationForm.controls['rol']?.touched)" class="text-red-500 text-xs italic mt-2">
                Debe seleccionar un rol.
              </div>
            </div>
          </div>

          <div class="flex flex-col w-full px-3 mb-6 items-center">
            <label class="block text-gray-500 font-bold flex-1 mb-4">
              <input name="privacyPolicy" id="privacyPolicy" [(ngModel)]="formData.privacyPolicy" required class="mr-2 leading-tight" type="checkbox">
              <span class="text-sm">
                Autorizo el tratamiento de mis datos personales conforme a la política de privacidad y los términos establecidos.
              </span>
            </label>
            <div *ngIf="registrationForm.controls['privacyPolicy']?.invalid && (registrationForm.controls['privacyPolicy']?.dirty || registrationForm.controls['privacyPolicy']?.touched)" class="text-red-500 text-xs italic mt-2 mb-2">
              Debe aceptar la política de privacidad para registrarse.
            </div>

            <button class="transition-all duration-300 transform hover:scale-105 shadow bg-sky-600 hover:bg-sky-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-6 rounded mb-4 mt-6"
                    type="submit" [disabled]="registrationForm.invalid || isLoading">
              Registrar/Actualizar
            </button>
            <p class="text-sm text-gray-700">
              ¿Ya tienes una cuenta?
              <button (click)="goToLogin()" class="text-sky-500 hover:underline font-medium transition duration-200">
                Ingresa aquí.
              </button>
            </p>
          </div>
        </form>
    </div>

    <hr class="md:col-span-12 my-6">

    <div class="md:col-span-12 p-10 pt-0">
      <h3 class="text-2xl font-bold mb-6 text-gray-800">Administrar Cliente (Buscar, Actualizar, Eliminar)</h3>
      <div class="flex flex-wrap -mx-3 mb-6 items-end">
        <div class="w-full md:w-2/3 px-3 mb-6 md:mb-0">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="searchNumeroDocumento">
            Buscar por Número de Identidad
          </label>
          <input id="searchNumeroDocumento" name="searchNumeroDocumento"
                 [(ngModel)]="searchNumeroDocumento"
                 class="transition-all duration-300 transform focus:scale-[1.02] focus:ring-2 focus:ring-sky-400 focus:outline-none appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-300 rounded py-3 px-4 leading-tight"
                 type="text" placeholder="Ingrese número de documento">
          </div>
        <div class="w-full md:w-1/3 px-3">
          <button (click)="searchClient()" type="button" [disabled]="isLoading || !searchNumeroDocumento"
                  class="transition-all duration-300 transform hover:scale-105 shadow bg-blue-600 hover:bg-blue-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-6 rounded w-full md:w-auto">
            Buscar Usuario
          </button>
        </div>
      </div>

      <div *ngIf="foundRecord" class="bg-gray-50 border border-gray-200 rounded-lg p-6 mb-6">
        <h4 class="text-xl font-semibold mb-4 text-gray-700 border-b pb-2">Cliente Encontrado:</h4>
        <p class="text-gray-700 mb-2"><strong>Nombre:</strong> {{ foundRecord.nombres }}</p>
        <p class="text-gray-700 mb-2"><strong>Apellido:</strong> {{ foundRecord.apellidos }}</p>
        <p class="text-gray-700 mb-2"><strong>Número Documento:</strong> {{ foundRecord.numeroDocumento }}</p>
        <p class="text-gray-700 mb-2"><strong>Pasaporte:</strong> {{ foundRecord.pasaporte || 'N/A' }}</p>
        <p class="text-gray-700 mb-2"><strong>Teléfono:</strong> {{ foundRecord.telefono }}</p>
        <p class="text-gray-700 mb-2"><strong>Whatsapp:</strong> {{ foundRecord.whatsapp }}</p>
        <p class="text-gray-700 mb-2"><strong>Usuario Telegram:</strong> {{ foundRecord.usuarioTelegram ? '@' + foundRecord.usuarioTelegram : 'N/A' }}</p>
        <p class="text-gray-700 mb-2"><strong>Correo:</strong> {{ foundRecord.correo }}</p>
        <p class="text-gray-700 mb-2"><strong>Ciudad:</strong> {{ foundRecord.ciudad }}</p>
        <p class="text-gray-700 mb-2"><strong>Departamento:</strong> {{ foundRecord.departamento }}</p>
        <p class="text-gray-700 mb-2"><strong>País:</strong> {{ foundRecord.pais }}</p>
        <p class="text-gray-700 mb-2"><strong>Fecha Registro:</strong> {{ foundRecord.fechaRegistro }}</p>
        <p class="text-gray-700 mb-4"><strong>Rol:</strong> {{ foundRecord.rol | titlecase }}</p>

        <div *ngIf="foundRecord.vouchers && foundRecord.vouchers.length > 0">
          <h4 class="text-xl font-semibold mb-4 text-gray-700 border-b pb-2 mt-6">Vouchers Registrados:</h4>
          <div *ngFor="let voucher of foundRecord.vouchers; let i = index" class="bg-white p-4 rounded-md shadow mb-4">
            <h5 class="font-bold text-gray-600 mb-2">Voucher #{{ i + 1 }}</h5>
            <p class="text-gray-700 mb-1"><strong>Valor Consignación:</strong> {{ voucher.valorConsignacion | currency:'USD':'symbol':'1.2-2' }}</p>
            <p class="text-gray-700 mb-1"><strong>Número Voucher:</strong> {{ voucher.numeroVoucher }}</p>
            <p class="text-gray-700 mb-1"><strong>Fecha Consignación:</strong> {{ voucher.fechaConsignacion }}</p>
            <p class="text-gray-700 mb-1"><strong>Proyecto:</strong> {{ voucher.proyecto }}</p>
          </div>
        </div>


        <div class="flex space-x-4">
          <button (click)="deleteClient()" type="button" [disabled]="isLoading"
                  class="transition-all duration-300 transform hover:scale-105 shadow bg-red-600 hover:bg-red-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-6 rounded">
            Eliminar Cliente
          </button>
        </div>
      </div>
    </div>

    <hr class="md:col-span-12 my-6">

    <div class="md:col-span-12 p-10">
      <h3 class="text-2xl font-bold mb-6 text-gray-800 text-center">Registrar/Actualizar Datos de Consignación (Voucher)</h3>

      <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full px-3 mb-6 md:mb-0">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="cantidadVouchers">
            Cantidad de Vouchers
          </label>
          <input id="cantidadVouchers" name="cantidadVouchers"
                 [(ngModel)]="cantidadVouchers"
                 (change)="generateVoucherForms()"
                 min="1"
                 class="transition-all duration-300 transform focus:scale-[1.02] focus:ring-2 focus:ring-sky-400 focus:outline-none appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-300 rounded py-3 px-4 leading-tight"
                 type="number" placeholder="Ej: 1">
          <div *ngIf="cantidadVouchers <= 0" class="text-red-500 text-xs italic mt-2">
            La cantidad de vouchers debe ser al menos 1.
          </div>
        </div>
      </div>

      <form (ngSubmit)="onSubmitVouchers()" #vouchersForm="ngForm">
        <div *ngFor="let voucher of vouchers; let i = index" class="border border-gray-300 p-6 rounded-lg mb-6 shadow-sm">
          <h4 class="text-xl font-bold mb-4 text-gray-700">Voucher #{{ i + 1 }}</h4>

          <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" [for]="'valorConsignacion_' + i">
                Valor Consignación
              </label>
              <input [id]="'valorConsignacion_' + i" [name]="'valorConsignacion_' + i"
                     [(ngModel)]="voucher.valorConsignacion"
                     required
                     pattern="^\d+(\.\d{1,2})?$" title="Solo números positivos, puede tener 2 decimales"
                     class="transition-all duration-300 transform focus:scale-[1.02] focus:ring-2 focus:ring-sky-400 focus:outline-none appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-300 rounded py-3 px-4 leading-tight"
                     type="number" step="0.01" placeholder="Ej: 100000.00">
              <div *ngIf="vouchersForm.controls['valorConsignacion_' + i]?.invalid && (vouchersForm.controls['valorConsignacion_' + i]?.dirty || vouchersForm.controls['valorConsignacion_' + i]?.touched)" class="text-red-500 text-xs italic mt-2">
                El valor de consignación es obligatorio y debe ser un número positivo (puede tener decimales).
              </div>
            </div>
            <div class="w-full md:w-1/2 px-3">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" [for]="'numeroVoucher_' + i">
                Número Voucher
              </label>
              <input [id]="'numeroVoucher_' + i" [name]="'numeroVoucher_' + i"
                     [(ngModel)]="voucher.numeroVoucher"
                     required
                     pattern="^[a-zA-Z0-9]+$" title="Solo letras y números"
                     class="transition-all duration-300 transform focus:scale-[1.02] focus:ring-2 focus:ring-sky-400 focus:outline-none appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-300 rounded py-3 px-4 leading-tight"
                     type="text" placeholder="Ej: ABC123XYZ">
              <div *ngIf="vouchersForm.controls['numeroVoucher_' + i]?.invalid && (vouchersForm.controls['numeroVoucher_' + i]?.dirty || vouchersForm.controls['numeroVoucher_' + i]?.touched)" class="text-red-500 text-xs italic mt-2">
                El número de voucher es obligatorio y debe ser alfanumérico.
              </div>
            </div>
          </div>

          <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" [for]="'fechaConsignacion_' + i">
                Fecha de Consignación
              </label>
              <input [id]="'fechaConsignacion_' + i" [name]="'fechaConsignacion_' + i"
                     [(ngModel)]="voucher.fechaConsignacion"
                     required
                     class="transition-all duration-300 transform focus:scale-[1.02] focus:ring-2 focus:ring-sky-400 focus:outline-none appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-300 rounded py-3 px-4 leading-tight"
                     type="date">
              <div *ngIf="vouchersForm.controls['fechaConsignacion_' + i]?.invalid && (vouchersForm.controls['fechaConsignacion_' + i]?.dirty || vouchersForm.controls['fechaConsignacion_' + i]?.touched)" class="text-red-500 text-xs italic mt-2">
                La fecha de consignación es obligatoria.
              </div>
            </div>
            <div class="w-full md:w-1/2 px-3">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" [for]="'proyecto_' + i">
                Proyecto
              </label>
              <select [id]="'proyecto_' + i" [name]="'proyecto_' + i"
                      [(ngModel)]="voucher.proyecto"
                      required
                      class="appearance-none transition-all duration-300 transform focus:scale-[1.02] focus:ring-2 focus:ring-sky-400 focus:outline-none bg-gray-100 text-gray-700 border border-gray-300 rounded py-3 px-4 pr-10 leading-tight w-full">
                <option value="" disabled selected>Seleccione un proyecto</option>
                <option *ngFor="let proyectoOption of proyectos" [value]="proyectoOption">{{ proyectoOption }}</option>
              </select>
              <div *ngIf="vouchersForm.controls['proyecto_' + i]?.invalid && (vouchersForm.controls['proyecto_' + i]?.dirty || vouchersForm.controls['proyecto_' + i]?.touched)" class="text-red-500 text-xs italic mt-2">
                Debe seleccionar un proyecto.
              </div>
            </div>
          </div>
          <div class="flex justify-end">
            <button *ngIf="vouchers.length > 1" (click)="removeVoucherForm(i)" type="button"
                    class="transition-all duration-300 transform hover:scale-105 shadow bg-red-500 hover:bg-red-400 focus:shadow-outline focus:outline-none text-white text-xs font-bold py-1 px-3 rounded">
              Eliminar Voucher
            </button>
          </div>
        </div>

        <div class="flex flex-col w-full px-3 mb-6 items-center">
          <button class="transition-all duration-300 transform hover:scale-105 shadow bg-sky-600 hover:bg-sky-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-6 rounded mb-4 mt-6"
                  type="submit" [disabled]="vouchersForm.invalid || isLoading || !clienteDocId">
            Registrar/Actualizar Vouchers
          </button>
          <button (click)="resetVouchersForms()" type="button"
                  class="transition-all duration-300 transform hover:scale-105 shadow bg-gray-500 hover:bg-gray-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-6 rounded">
            Limpiar Formulario de Vouchers
          </button>
        </div>
      </form>
    </div>

  </div>
</div>